fastapi
uvicorn
sqlalchemy
passlib
bcrypt
python-multipart
aiofiles
python-jose
google-generativeai
langchain
langchain-community
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
python-multipart
google-cloud-secret-manager
google-crc32c
google-cloud-storage